In [412]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

import xgboost as xgb

In [439]:
data= pd.read_csv('CoC-AllCombined.csv')

In [440]:
data.columns
data.head()

,State,state_code,District,dist_code,Sub-District,subdist_code,crop,crop_code,tehsilcultivator,pps,...,K,Temp,Rain,total_coc,totalval_rs,mainprd_ton,derived_yield,total_cop,mainprd_coc,byprd_coc
0,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,160,1011,...,VH,26.320753,1322.731391,19805.171,43200.0,2.645503,1.322751,71237.831776,19805.171,0.0
1,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,161,1011,...,VH,26.320753,1322.731391,3523.500,5760.0,0.352734,1.102293,8542.278621,3523.500,0.0
2,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,162,1011,...,VH,26.320753,1322.731391,2807.875,4500.0,0.275573,1.102293,6542.598940,2807.875,0.0
3,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,164,1011,...,VH,26.320753,1322.731391,6990.306,10800.0,0.661376,1.017501,16398.966226,6990.306,0.0
4,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,165,1011,...,VH,26.320753,1322.731391,9118.000,7200.0,0.440917,0.489908,11605.155517,9118.000,0.0

In [441]:
data_no_rs=  data[data.columns.drop(list(data.filter(regex='_rs')))]
data_no_rs

,State,state_code,District,dist_code,Sub-District,subdist_code,crop,crop_code,tehsilcultivator,pps,...,P,K,Temp,Rain,total_coc,mainprd_ton,derived_yield,total_cop,mainprd_coc,byprd_coc
0,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,160,1011,...,VH,VH,26.320753,1322.731391,19805.171,2.645503,1.322751,71237.831776,19805.171000,0.000000
1,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,161,1011,...,VH,VH,26.320753,1322.731391,3523.500,0.352734,1.102293,8542.278621,3523.500000,0.000000
2,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,162,1011,...,VH,VH,26.320753,1322.731391,2807.875,0.275573,1.102293,6542.598940,2807.875000,0.000000
3,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,164,1011,...,VH,VH,26.320753,1322.731391,6990.306,0.661376,1.017501,16398.966226,6990.306000,0.000000
4,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,"Arhar,Redgram",202,165,1011,...,VH,VH,26.320753,1322.731391,9118.000,0.440917,0.489908,11605.155517,9118.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374690,West Bengal,19,24-Parganas(S),343,BHANGOR-I,2418,Sesamum (Til),1003,567,1013,...,VL,VH,28.477940,214.427176,2548.778,0.088183,1.259763,2507.492830,2342.120324,206.657676
374691,West Bengal,19,24-Parganas(S),343,BHANGOR-I,2418,Sesamum (Til),1003,568,2013,...,VL,VH,28.477940,214.427176,2289.500,0.071649,1.023558,2268.059437,2103.864865,185.635135
374692,West Bengal,19,24-Parganas(S),343,BHANGOR-I,2418,Sesamum (Til),1003,568,1013,...,VL,VH,28.477940,214.427176,2125.300,0.088183,1.259763,3007.124905,1952.978378,172.321622
374693,West Bengal,19,24-Parganas(S),343,BHANGOR-I,2418,Sesamum (Til),1003,569,2013,...,VL,VH,28.477940,214.427176,3456.932,0.115741,1.169098,3431.763411,3176.640216,280.291784
374694,West Bengal,19,24-Parganas(S),343,BHANGOR-I,2418,Sesamum (Til),1003,569,3013,...,VL,VH,28.477940,214.427176,2457.178,0.082672,1.252605,2299.070364,2257.947351,199.230649

In [442]:
data_no_rs.columns
data_no_rs['crop'].unique()
data_cott=data_no_rs.loc[data_no_rs['crop'] == 'Paddy']
data_cott

,State,state_code,District,dist_code,Sub-District,subdist_code,crop,crop_code,tehsilcultivator,pps,...,P,K,Temp,Rain,total_coc,mainprd_ton,derived_yield,total_cop,mainprd_coc,byprd_coc
17,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,Paddy,101,160,1021,...,VH,VH,26.320753,1322.731391,25991.500,5.952381,4.049239,8465.896928,21265.772727,4725.727273
18,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,Paddy,101,163,1011,...,VH,VH,26.320753,1322.731391,27541.300,4.960317,3.306878,6917.320533,22131.401786,5409.898214
19,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,Paddy,101,167,1021,...,VH,VH,26.320753,1322.731391,8629.333,1.653439,4.133598,1892.336291,7191.110833,1438.222167
20,Andhra Pradesh,28,Krishna,547,VEERULLAPADU,4994,Paddy,101,169,1021,...,VH,VH,26.320753,1322.731391,40438.999,9.920635,4.133598,14537.095738,33699.165833,6739.833167
43,Andhra Pradesh,28,Anantapur,553,URAVAKONDA,5317,Paddy,101,320,2011,...,VH,H,24.643946,901.412651,35137.449,7.440476,6.200397,12291.309503,30992.377884,4145.071116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374461,Tamil Nadu,33,Virudhu nagar,625,SRIVILLI PUTTUR,5848,Paddy,101,447,2023,...,M,VH,30.231542,215.896205,86876.100,5.401235,2.984107,46010.335381,84638.441753,2237.658247
374462,Tamil Nadu,33,Virudhu nagar,625,SRIVILLI PUTTUR,5848,Paddy,101,447,1023,...,M,VH,30.231542,215.896205,62115.004,4.188713,2.949798,39033.506146,60699.173985,1415.830015
374463,Tamil Nadu,33,Virudhu nagar,625,SRIVILLI PUTTUR,5848,Paddy,101,448,1023,...,M,VH,30.231542,215.896205,136722.037,7.054674,2.492818,59654.173210,133313.454360,3408.582640
374464,Tamil Nadu,33,Virudhu nagar,625,SRIVILLI PUTTUR,5848,Paddy,101,449,1033,...,M,VH,30.231542,215.896205,183642.890,10.802469,2.596747,99984.315568,179034.171757,4608.718243
374608,West Bengal,19,Burdwan,335,KHANDAGHOSH,2297,Paddy,101,2910,2013,...,VH,M,29.945738,1524.927526,26040.000,2.094356,6.544863,5311.938890,24626.063348,1413.936652

In [443]:
cols_indep=['croparea_ha','famlab_hrs','atchdlab_hrs','casuallab_hrs','hrdanimllab_hrs','ownanimllab_hrs','hrdmchn_hrs','seed_kg','fertn_kg','fertp_kg','fertk_kg','fertoth_kg','manure_qtl','ownirrimchn_hrs','variety','season','Ph']

In [444]:
cols_dep=['derived_yield']

In [445]:
data_cott_indep=data_cott[cols_indep]

In [446]:
data_cott_indep

,croparea_ha,famlab_hrs,atchdlab_hrs,casuallab_hrs,hrdanimllab_hrs,ownanimllab_hrs,hrdmchn_hrs,seed_kg,fertn_kg,fertp_kg,fertk_kg,fertoth_kg,manure_qtl,ownirrimchn_hrs,variety,season,Ph
17,1.47,49.000,0.0,676.000,0.0,0.0,12.0,110.0,162.00,126.0,154.0,0.0,0.00,0.0,50.0,1,7.0
18,1.50,34.000,0.0,772.000,0.0,0.0,21.0,110.0,316.00,40.0,0.0,0.0,0.00,0.0,50.0,1,7.0
19,0.40,50.000,0.0,226.000,0.0,0.0,8.5,60.0,65.00,33.0,0.0,0.0,0.00,0.0,50.0,1,7.0
20,2.40,221.000,0.0,1191.000,0.0,0.0,14.0,180.0,252.00,156.0,237.0,0.0,0.00,0.0,50.0,1,7.0
43,1.20,286.000,125.0,837.000,0.0,36.0,9.0,110.0,193.00,156.0,43.0,0.0,5.50,740.0,50.0,1,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374461,1.81,77.000,0.0,634.667,0.0,0.0,14.5,135.0,178.00,161.0,105.0,0.0,0.00,445.0,50.0,3,8.1
374462,1.42,69.000,0.0,458.333,0.0,0.0,13.5,105.0,115.80,119.6,30.0,0.0,0.00,272.0,50.0,3,8.1
374463,2.83,80.333,0.0,997.667,0.0,0.0,23.0,210.0,280.25,257.6,165.0,0.0,0.00,730.0,50.0,3,8.1
374464,4.16,116.000,0.0,1275.667,0.0,0.0,28.0,300.0,488.55,368.0,270.0,0.0,0.00,750.0,50.0,3,8.1
374608,0.32,28.000,0.0,296.000,3.0,0.0,2.0,25.0,40.60,27.0,0.0,3.0,20.02,0.0,50.0,3,5.8

In [447]:
cols_kg=['seed_kg','fertn_kg','fertp_kg','fertk_kg','fertoth_kg']
cols_kg_ha=['seed_kg_ha','fertn_kg_ha','fertp_kg_ha','fertk_kg_ha','fertoth_kg_ha']

In [448]:
#data_cott_indep.loc[:,cols_kg] = data_cott_dep.loc[:, cols_kg].div(data_cott_dep['croparea_ha'], axis=0)

In [453]:
data_cott_indep=data_cott_indep.dropna()

,croparea_ha,famlab_hrs,atchdlab_hrs,casuallab_hrs,hrdanimllab_hrs,ownanimllab_hrs,hrdmchn_hrs,seed_kg,fertn_kg,fertp_kg,fertk_kg,fertoth_kg,manure_qtl,ownirrimchn_hrs
17,1.47,49.000,0.0,676.000,0.0,0.0,12.0,110.0,162.00,126.0,154.0,0.0,0.00,0.0
18,1.50,34.000,0.0,772.000,0.0,0.0,21.0,110.0,316.00,40.0,0.0,0.0,0.00,0.0
19,0.40,50.000,0.0,226.000,0.0,0.0,8.5,60.0,65.00,33.0,0.0,0.0,0.00,0.0
20,2.40,221.000,0.0,1191.000,0.0,0.0,14.0,180.0,252.00,156.0,237.0,0.0,0.00,0.0
43,1.20,286.000,125.0,837.000,0.0,36.0,9.0,110.0,193.00,156.0,43.0,0.0,5.50,740.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374461,1.81,77.000,0.0,634.667,0.0,0.0,14.5,135.0,178.00,161.0,105.0,0.0,0.00,445.0
374462,1.42,69.000,0.0,458.333,0.0,0.0,13.5,105.0,115.80,119.6,30.0,0.0,0.00,272.0
374463,2.83,80.333,0.0,997.667,0.0,0.0,23.0,210.0,280.25,257.6,165.0,0.0,0.00,730.0
374464,4.16,116.000,0.0,1275.667,0.0,0.0,28.0,300.0,488.55,368.0,270.0,0.0,0.00,750.0
374608,0.32,28.000,0.0,296.000,3.0,0.0,2.0,25.0,40.60,27.0,0.0,3.0,20.02,0.0

In [450]:
#data_cott_indep.rename(columns={'seed_kg':'seed_kg_ha','fertn_kg':'fertn_kg_ha','fertp_kg':'fertp_kg_ha','fertk_kg':'fertk_kg_ha','fertoth_kg':'fertoth_kg_ha'}, inplace=True)

In [451]:
data_cott_indep=data_cott_indep.drop(columns=['variety','season','Ph'])

In [452]:
X=data_cott_indep
y=data_cott['derived_yield']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

sc=StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform (X_test)
print(X)
#print(X_train_sc, X_train)
#Linear Regression
lm = LinearRegression()

model = lm.fit(X_train_sc,y_train)

predictions_train=lm.predict(X_train_sc)
predictions = lm.predict(X_test_sc)
print(predictions[0:5])

df=pd.DataFrame(list(zip(predictions, y_test)), columns =['Pred', 'y']) 
print(df.head())

score_train=lm.score(X_train_sc,y_train)
accuracy_train=mean_squared_error(y_train,predictions_train)
score_test=lm.score(X_test_sc,y_test)
accuracy_test=mean_squared_error(y_test,predictions)
print('Linear_Regression Score:',score_train, np.sqrt(accuracy_train),score_test, np.sqrt(accuracy_test))
print('Coeficients',lm.coef_)

        croparea_ha  famlab_hrs  atchdlab_hrs  casuallab_hrs  hrdanimllab_hrs  \
17             1.47      49.000           0.0        676.000              0.0
18             1.50      34.000           0.0        772.000              0.0
19             0.40      50.000           0.0        226.000              0.0
20             2.40     221.000           0.0       1191.000              0.0
43             1.20     286.000         125.0        837.000              0.0
...             ...         ...           ...            ...              ...
374461         1.81      77.000           0.0        634.667              0.0
374462         1.42      69.000           0.0        458.333              0.0
374463         2.83      80.333           0.0        997.667              0.0
374464         4.16     116.000           0.0       1275.667              0.0
374608         0.32      28.000           0.0        296.000              3.0

        ownanimllab_hrs  hrdmchn_hrs  seed_kg  fertn_kg  fertp_kg  fertk_kg  \
17                  0.0         12.0    110.0    162.00     126.0     154.0
18                  0.0         21.0    110.0    316.00      40.0       0.0
19                  0.0          8.5     60.0     65.00      33.0       0.0
20                  0.0         14.0    180.0    252.00     156.0     237.0
43                 36.0          9.0    110.0    193.00     156.0      43.0
...                 ...          ...      ...       ...       ...       ...
374461              0.0         14.5    135.0    178.00     161.0     105.0
374462              0.0         13.5    105.0    115.80     119.6      30.0
374463              0.0         23.0    210.0    280.25     257.6     165.0
374464              0.0         28.0    300.0    488.55     368.0     270.0
374608              0.0          2.0     25.0     40.60      27.0       0.0

        fertoth_kg  manure_qtl  ownirrimchn_hrs
17             0.0        0.00              0.0
18             0.0        0.00              0.0
19             0.0        0.00              0.0
20             0.0        0.00              0.0
43             0.0        5.50            740.0
...            ...         ...              ...
374461         0.0        0.00            445.0
374462         0.0        0.00            272.0
374463         0.0        0.00            730.0
374464         0.0        0.00            750.0
374608         3.0       20.02              0.0

[138096 rows x 14 columns]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
#XGboost
xgb_reg=xgb.XGBRegressor()
xgb_model= xgb_reg.fit(X_train_sc,y_train)

predictions_xgb=xgb_model.predict(X_test_sc)

df_xgb=pd.DataFrame(list(zip(predictions_xgb, y_test)), columns =['Pred_xgb', 'y']) 
print(df_xgb.head())

rmse= np.sqrt(mean_squared_error(y_test,predictions_xgb))
print(rmse)

In [ ]:
reg_pipeline = Pipeline([
    ('Standardize',StandardScaler()) ,
    ('Regression', LinearRegression())])
cross_val_scores = cross_val_score(reg_pipeline, X, y, cv=5)
print('Cross-validated scores:', cross_val_scores)